@model WeaponInputModel

<div class="mb-3">
    <label asp-for="Name" class="field-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Category" class="field-label"></label>
    <input asp-for="Category" class="form-control" />
    <span asp-validation-for="Category" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Manufacturer" class="field-label"></label>
    <input asp-for="Manufacturer" class="form-control" />
    <span asp-validation-for="Manufacturer" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Price" class="field-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>

<div class="mb-4">
    <label asp-for="Description" class="field-label"></label>
    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
